body{
    margin:0;
    background-color: hsl(212, 45%, 89%);
}
#main-container{
    padding-top: 25px;
   background-color: whitesmoke;
   margin:auto;
   margin-top: 50px;
    height:450px;
    width: 25%;
    border-radius: 5%;
    padding-bottom: 0px;
    box-shadow: 0px 10px 20px rgb(161, 156, 156);
}
#qrcode{
    
    margin: 20px auto;
    background-color: hsl(217, 72%, 58%);
    border-radius:5%;
    height: 250px;
    width:85%;
    background-image: url("images/image-qr-code.png");
    background-size:cover;
    
}

h3{
    font-size: x-large;
    width: 100%;
    font-weight: 700;
    text-align: center;
}
p{
    color: rgb(171, 165, 165);
    text-align: center;
    padding-bottom:0px;
}
@media (max-width:375px) {
    #main-container{
        width: 90%;
    }
}